.register-page {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.register-form {
    padding: 20px;
    width: 40%;
    align-self: center;
}

.space {
    padding: 10px 0;
    font-size: xx-large;
}

.invalid-text-size {
    font-size: medium;
}