@media (min-width: 551px) {
    .register-page {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .register-form {
        margin: 0 25%;
        padding: 20px;
        width: 450px;
        align-self: center;
    }
    .space {
        padding: 10px 0;
        font-size: xx-large;
    }
}

@media (max-width: 550px) {
    .register-page {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .register-form {
        margin: 0 25%;
        padding: 20px;
        width: 380px;
        align-self: center;
    }
    .space {
        padding: 10px 0;
        font-size: xx-large;
    }
}

.invalid-text-size {
    font-size: medium;
}