<div class="register-page landing-page">
    <img src="https://wallpapertag.com/wallpaper/full/f/b/b/124351-gym-background-2560x1704-xiaomi.jpg" alt="" style="width: 100%; height:100%; opacity: 50%;">
    <div class="landing-page-content" style="top: 0;">
        <div class="jumbotron jumbotron-display">
            <h1>Register</h1>
        </div>
        <form class="register-form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="form-group space">
                <label for="register-first-name">First Name</label>
                <input formControlName="firstName" class="form-control form-control-lg input-width" type="text" placeholder="Enter your first name..." [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }">
                <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback invalid-text-size">
                    <div *ngIf="f.firstName.errors.required">First Name is required</div>
                </div>
            </div>
            <div class="form-group space">
                <label for="register-last-name">Last Name</label>
                <input formControlName="lastName" class="form-control form-control-lg input-width" type="text" placeholder="Enter your last name..." [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }">
                <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback invalid-text-size">
                    <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                </div>
            </div>
            <div class="form-group space">
                <label for="register-email">Email Address</label>
                <input formControlName="email" class="form-control form-control-lg input-width" type="email" placeholder="Enter your e-mail..." [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback invalid-text-size">
                    <div *ngIf="f.email.errors.required">Email is required</div>
                    <div *ngIf="f.email.errors.email">Please enter a valid email</div>
                </div>
            </div>
            <div class="form-group space">
                <label for="register-phone-number">Phone Number</label>
                <input formControlName="phone" class="form-control form-control-lg input-width" type="tel" placeholder="Enter your phone number..." [ngClass]="{ 'is-invalid': submitted && f.phone.errors }">
                <div *ngIf="submitted && f.phone.errors" class="invalid-feedback invalid-text-size">
                    <div *ngIf="f.phone.errors.required">Phone number is required</div>
                    <div *ngIf="f.phone.errors.minlength">Please enter a valid phone number</div>
                    <div *ngIf="f.phone.errors.maxlength">Please enter a valid phone number</div>
                </div>
            </div>
            <div class="form-group space">
                <label for="register-username">Username</label>
                <input formControlName="username" class="form-control form-control-lg input-width" type="text" placeholder="Enter a unique username..." [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
                <div *ngIf="submitted && f.username.errors" class="invalid-feedback invalid-text-size">
                    <div *ngIf="f.username.errors.required">Username is required</div>
                    <div *ngIf="f.username.errors.minlength">Username must contain atleast 4 characters</div>
                </div>
            </div>
            <div class="form-group space">
                <label for="register-password">Password</label>
                <input formControlName="password" class="form-control form-control-lg input-width" type="password" placeholder="Choose a password..." [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback invalid-text-size">
                    <div *ngIf="f.password.errors.required">Password is required</div>
                    <div *ngIf="f.password.errors.minlength">Password must contain atleast 6 characters</div>
                </div>
            </div>

            <div class="form-group space buttons">
                <button type="submit" class="btn btn_primary">Register</button>
                <button type="button" class="btn btn_secondary" (click)="goBackToHome()">Cancel</button>
            </div>
        </form>
    </div>
</div>