<div>
  <img src="../../assets/picture1.png" alt="empty_gym" style="width: 100%;">
</div>
<div class="jumbotron jumbotron-display">
  <h5>Hello! Welcome to my app</h5>
  <h1>FOLLOW MY WORKOUT</h1>
  <br><br>
  <h5>Not sure what workout to do at the gym? </h5>
  <h5> NO WORRIES! Just follow what your friends are doing...</h5>
</div>

<div class="buttons" style="justify-content: space-evenly;">
  <button class="btn btn_primary" (click)="doLogin()">Login</button>
  <a class="btn btn_secondary" (click)="doRegister()">Create Account</a>
</div>