<div class="landing-page">
    <img src="https://wallpapercave.com/wp/wp2639536.jpg" alt="empty_gym" style="width: 100%;">
    <div class="landing-page-content">
        <div class="jumbotron home-page-jumbotron-display" style="opacity: 35%; font-weight: 900;">
            <h1>MY GYM BUDDY</h1>
            <br>
            <h5>Track all different workouts you do at the gym!</h5>
            <h5>You can log workout type, weight and reps for each workout!</h5>
        </div>

        <div class="buttons" style="justify-content: space-evenly;">
            <button class="btn btn_primary" (click)="doLogin()">Login</button>
            <button class="btn btn_primary" (click)="doRegister()">Create Account</button>
        </div>
    </div>
</div>