<div>
    <div class="jumbotron jumbotron-display">
        <h1>My Workouts</h1>
    </div>

    <div style="padding: 10px; font-size: xx-large; color: darkblue; font-family: Comic Sans;">
        <p>Hey there {{ firstName }}!</p>
    </div>

    <div class="space buttons" style="padding: 10px;">
        <button type="button" class="btn btn_primary" data-toggle="modal" data-target="#addWorkout" data-backdrop="static">Add Workout</button>
        <button type="button" class="btn btn_primary" (click)="doLogout()">Logout</button>
    </div>

    <div *ngIf="completedWorkouts.length == 0" class="alert alert-danger" role="alert" style="text-align: center;">
        You have not logged in any workouts. Please click the "Add Workout" button to do so.
    </div>

    <div class="modal fade" id="addWorkout" tabindex="-1" role="dialog" aria-labelledby="addWorkoutLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="addWorkoutLabel">Add Your Workout</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class="modal-body">
                    <form class="workout-form" [formGroup]="workoutForm" (ngSubmit)="onSubmit()">
                        <div class="form-group space">
                            <label for="workout-workout-type">Workout Type</label>
                            <input formControlName="workoutType" class="form-control form-control-lg input-width-2" type="text" placeholder="Enter the type of workout completed..." [ngClass]="{ 'is-invalid': submitted && f.workoutType.errors }">
                            <div class="small-text">For Example: Chest, Arms or Legs</div>
                            <div *ngIf="submitted && f.workoutType.errors" class="invalid-feedback invalid-text-size">
                                <div *ngIf="f.workoutType.errors.required">Workout Type is required</div>
                                <div *ngIf="f.workoutType.errors.pattern">Invalid Workout Type. Try using just alphabets!</div>
                            </div>
                        </div>
                        <div class="form-group space">
                            <label for="workout-exercise-name">Exercise Name</label>
                            <input formControlName="exerciseName" class="form-control form-control-lg input-width-2" type="text" placeholder="Enter the exercise completed..." [ngClass]="{ 'is-invalid': submitted && f.exerciseName.errors }">
                            <div *ngIf="submitted && f.exerciseName.errors" class="invalid-feedback invalid-text-size">
                                <div *ngIf="f.exerciseName.errors.required">Exercise Name is required</div>
                                <div *ngIf="f.workoutType.errors.pattern">Invalid Exercise Name. Try using just alphabets!</div>
                            </div>
                        </div>
                        <div class="form-group space">
                            <label for="workout-weight">Weight (lbs)</label>
                            <input formControlName="weight" class="form-control form-control-lg input-width-2" type="text" placeholder="Enter the lifted weight..." [ngClass]="{ 'is-invalid': submitted && f.weight.errors }">
                            <div *ngIf="submitted && f.weight.errors" class="invalid-feedback invalid-text-size">
                                <div *ngIf="f.weight.errors.required">Weight is required</div>
                                <div *ngIf="f.weight.errors.pattern">Invalid Weight. Try using just digits!</div>
                            </div>
                        </div>
                        <div class="form-group space">
                            <label for="workout-sets">Sets</label>
                            <select formControlName="sets" class="form-control form-control-lg input-width-2" [ngClass]="{ 'is-invalid': submitted && f.sets.errors }">
                                <option selected value="">Enter the number of sets...</option>
                                <option selected value="1">1</option>
                                <option selected value="2">2</option>
                                <option selected value="3">3</option>
                                <option selected value="4">4</option>
                                <option selected value="5">5</option>
                            </select>
                            <div *ngIf="submitted && f.sets.errors" class="invalid-feedback invalid-text-size">
                                <div *ngIf="f.sets.errors.required">Number of sets is required</div>
                            </div>
                        </div>
                        <div class="form-group space">
                            <label for="workout-sets">Reps per Set</label>
                            <select formControlName="repsPerSet" class="form-control form-control-lg input-width-2" [ngClass]="{ 'is-invalid': submitted && f.repsPerSet.errors }">
                                <option selected value="">Enter the number of reps per set...</option>
                                <option selected value="1">1</option>
                                <option selected value="2">2</option>
                                <option selected value="3">3</option>
                                <option selected value="4">4</option>
                                <option selected value="5">5</option>
                                <option selected value="6">6</option>
                                <option selected value="7">7</option>
                                <option selected value="8">8</option>
                                <option selected value="9">9</option>
                                <option selected value="10">10</option>
                                <option selected value="11">11</option>
                                <option selected value="12">12</option>
                                <option selected value="13">13</option>
                                <option selected value="14">14</option>
                                <option selected value="15">15</option>
                                <option selected value="16">16</option>
                                <option selected value="17">17</option>
                                <option selected value="18">18</option>
                                <option selected value="19">19</option>
                                <option selected value="20">20</option>
                            </select>
                            <div *ngIf="submitted && f.repsPerSet.errors" class="invalid-feedback invalid-text-size">
                                <div *ngIf="f.repsPerSet.errors.required">Number of reps is required</div>
                            </div>
                        </div>
                        <div class="form-group buttons" style="padding-bottom: 0;">
                            <button type="button" class="btn btn_secondary" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn_primary">Save Workout</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="completedWorkouts.length != 0" class="search-box input-group input-group-lg">
        <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-search"></i></span>
        </div>
        <input type="text" class="form-control">
    </div>

    <div *ngIf="completedWorkouts.length !== 0">
        <table class="greyGridTable">
            <thead>
                <tr>
                    <th>
                        Workout Type
                        <button class="btn btn-md" style="padding: 0px;" (click)="sortByWorkoutType()">
                            <i *ngIf="sortByWorkoutTypeFlag === '' || sortByWorkoutTypeFlag === 'false'" class="fas fa-arrow-up"></i>
                            <i *ngIf="sortByWorkoutTypeFlag === 'true'" class="fas fa-arrow-down"></i>
                        </button>
                    </th>
                    <th>
                        Exercise
                        <button class="btn btn-md" style="padding: 0px;" (click)="sortByExerciseName()">
                            <i *ngIf="sortByExerciseNameFlag === '' || sortByExerciseNameFlag === 'false'" class="fas fa-arrow-up"></i>
                            <i *ngIf="sortByExerciseNameFlag === 'true'" class="fas fa-arrow-down"></i>
                        </button>
                    </th>
                    <th>
                        Weight (lbs)
                        <button class="btn btn-md" style="padding: 0px;" (click)="sortByWeight()">
                            <i *ngIf="sortByWeightFlag === '' || sortByWeightFlag === 'false'" class="fas fa-arrow-up"></i>
                            <i *ngIf="sortByWeightFlag === 'true'" class="fas fa-arrow-down"></i>
                        </button>
                    </th>
                    <th>
                        Sets
                        <button class="btn btn-md" style="padding: 0px;" (click)="sortBySets()">
                            <i *ngIf="sortBySetsFlag === '' || sortBySetsFlag === 'false'" class="fas fa-arrow-up"></i>
                            <i *ngIf="sortBySetsFlag === 'true'" class="fas fa-arrow-down"></i>
                        </button>
                    </th>
                    <th>
                        Reps/Set
                        <button class="btn btn-md" style="padding: 0px;" (click)="sortByRepsPerSet()">
                            <i *ngIf="sortByRepsPerSetFlag === '' || sortByRepsPerSetFlag === 'false'" class="fas fa-arrow-up"></i>
                            <i *ngIf="sortByRepsPerSetFlag === 'true'" class="fas fa-arrow-down"></i>
                        </button>
                    </th>
                    <th *ngIf="!editing">Edit/Delete</th>
                    <th *ngIf="editing">Save Changes</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let workout of completedWorkouts">
                    <td><input *ngIf="editing && editWorkoutId==workout.id" class="row-input" [(ngModel)]="workout.workoutType" /><span *ngIf="!editing || editWorkoutId!=workout.id">{{ workout.workoutType }}</span></td>
                    <td><input *ngIf="editing && editWorkoutId==workout.id" class="row-input" [(ngModel)]="workout.exerciseName" /><span *ngIf="!editing || editWorkoutId!=workout.id">{{ workout.exerciseName }}</span></td>
                    <td><input *ngIf="editing && editWorkoutId==workout.id" class="row-input" [(ngModel)]="workout.weight" /><span *ngIf="!editing || editWorkoutId!=workout.id">{{ workout.weight }}</span></td>
                    <td><input *ngIf="editing && editWorkoutId==workout.id" class="row-input" [(ngModel)]="workout.sets" /><span *ngIf="!editing || editWorkoutId!=workout.id">{{ workout.sets }}</span></td>
                    <td><input *ngIf="editing && editWorkoutId==workout.id" class="row-input" [(ngModel)]="workout.repsPerSet" /><span *ngIf="!editing || editWorkoutId!=workout.id">{{ workout.repsPerSet }}</span></td>
                    <td *ngIf="editing && editWorkoutId==workout.id">
                        <button class="icons" (click)="doSave(workout)"><i class="fas fa-save"></i></button>
                    </td>
                    <td *ngIf="!editing || editWorkoutId!=workout.id">
                        <button class="icons" (click)="doEdit(workout)"><i class="fas fa-edit"></i></button> &nbsp;
                        <button class="icons" (click)="doDelete(workout.id)"><i class="fas fa-trash-alt"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>