    .buttons {
        display: flex;
        justify-content: space-between;
        padding-bottom: 50px;
    }
    
    .btn_primary {
        width: 8em;
        font-size: x-large;
        background-color: darkblue;
        color: white;
        padding: 0;
    }
    
    @media (max-width: 500px) {
        .buttons {
            display: flex;
            justify-content: space-between;
            padding-bottom: 50px;
            align-items: center;
        }
        .btn_primary {
            width: 5em;
        }
    }
    
    .btn_secondary {
        font-size: x-large;
        color: darkblue;
        padding: 0;
    }
    
    .btn_primary:hover {
        background-color: blue;
        color: black;
    }
    
    .btn_secondary:hover {
        color: black;
    }
    
    .jumbotron-display {
        text-align: center;
        background-color: darkgoldenrod;
        color: darkblue;
        font-family: fantasy;
        padding: 20px 32px;
    }
    
    .input-width {
        width: 100%;
        height: 50px;
    }