.pictures {
    margin: 10px 0;
}

.display {
    text-align: center;
    background-color: darkgoldenrod;
    color: darkblue;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 50px;
}

.btn_primary {
    width: 8em; 
    font-size: x-large; 
    background-color: darkblue; 
    color: white;
}

.btn_secondary {
    width: 8em; 
    font-size: x-large; 
    color: darkblue;
}

.btn_primary:hover {
    background-color: blue;
    color: black;
}

.btn_secondary:hover {
    color: black;
}
